# Logs
logs
*.log
npm-debug.log*

# Production-only files
readme-svn.txt

# Build files
build/

# Dependency directories
node_modules/
vendor/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of `npm pack`
*.tgz

# Output of `wp-scripts plugin-zip`
*.zip

# dotenv environment variables file
.env
