.wporg-contributor-orientation {
	--wporg-contrib--spacing--block-gap: 1em;
	--wporg-contrib--border--color: var(--wp--preset--color--secondary);
	--wporg-contrib--border--style: solid;
	--wporg-contrib--border--width: 1px;

	* {
		box-sizing: border-box;
	}
}

.wporg-contributor-orientation--steps {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: var(--wporg-contrib--spacing--block-gap);
		border-color: var(--wporg-contrib--border--color);
		border-style: var(--wporg-contrib--border--style);
		border-width: var(--wporg-contrib--border--width);
		width: 100%;

		+ li {
			border-left: none;
		}

		strong,
		&[aria-current="step"] {
			font-weight: 600;
		}
	}
}

.wporg-contributor-orientation--page {
	border-color: var(--wporg-contrib--border--color);
	border-style: var(--wporg-contrib--border--style);
	border-width: var(--wporg-contrib--border--width);
	border-top-width: 0;
	padding:
		var(--wporg-contrib--spacing--block-gap)
		var(--wporg-contrib--spacing--block-gap)
		calc(var(--wporg-contrib--spacing--block-gap) * 2);

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}

	.components-base-control {
		margin-block-start: var(--wporg-contrib--spacing--block-gap);
		font-size: inherit;
	}

	.components-base-control__field {
		display: inline-flex;
		align-items: center;
		margin-block-end: 0;
	}

	.components-notice {
		margin-inline: 0;
		margin-block-start: var(--wporg-contrib--spacing--block-gap);
	}

	.components-button {
		padding: 0.5em 1em;
		height: auto;
		font-size: inherit;
	}
}

.wporg-contributor-orientation--title {
	margin: 0;
	font-size: 1.4em;
}

.wporg-contributor-orientation--actions {
	display: flex;
	gap: var(--wporg-contrib--spacing--block-gap);
	margin-block-start: var(--wporg-contrib--spacing--block-gap);
}

// Results page.
.wporg-contributor-orientation--team {
	margin-block-start: calc(var(--wporg-contrib--spacing--block-gap) * 2);
}

.wporg-contributor-orientation--team-name {
	margin: 0;
	font-size: 1.2em;

	a {
		display: inline-flex;
		gap: calc(var(--wporg-contrib--spacing--block-gap) / 2);
		align-items: center;
	}

	img {
		width: 1em;
		height: 1em;
	}
}
